
*.swp
*.swo
*~
*.tmp
*.bak
.DS_Store


.idea/
*.iml
.vscode/


*.o
*.a
*.so
*.dll

.travis.yml
.scrutinizer.yml
.circleci/

config.php
database.php
.env

build/
dist/
coverage/

local/
tmp/
cache/

*.log
*.txt
*.md
